@import "@/styles/mixins.scss";

.heroSection{
    @apply w-full h-[450px] flex flex-col justify-center items-center  ;
    
    background: linear-gradient(to bottom, $primary-half, black);
}
.radGradRight{
    @apply absolute top-0 left-0 w-full h-full;
    background: radial-gradient(circle at 75% 75%, rgba(2,0,36,1) 0%, rgb(228, 176, 7) 75%, rgba(0,212,255,0) 100%);
    animation: fade-in 6s linear alternate;
}
.radGradLeft{
    @apply absolute top-0 left-0 w-full h-full;
    background: radial-gradient(circle at 75% 25%, rgba(2,0,36,1) 0%, rgb(185, 255, 93) 55%, rgba(0,212,255,0) 100%);
    animation: fade-out 3s linear alternate;
}
.heroTitle{
    @apply font-julius sm:text-6xl md:text-7xl text-white;
}
.heroSubTitle{
    @apply font-julius sm:w-2/3 md:w-full sm:text-3xl text-center text-white mt-4 opacity-75;
}
.fadeIn{
    animation: fade-in 2s linear infinite;
}
.fadeOut{
    animation: fade-out 2s linear infinite;
}

@keyframes fade-in{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fade-out{
    0%{opacity:1;}
    100%{opacity:0;}
}