@import "@/styles/mixins.scss";

.container {
    @apply flex text-white w-full items-center justify-center ;
    
}
.infoSection {
    @apply w-full bg-black flex items-center justify-center flex-wrap p-24 pt-12  border-b-8 border-b-primaryMid;
}

.infoItem{
    @apply mb-32 w-3/4 flex flex-col items-center justify-center p-8;
    @at-root{
        .infoTitle{
            @apply font-julius text-6xl text-primaryMid;
        }
        .infoBody{
            @apply -mt-24 font-vietnam text-3xl text-white leading-normal;
            & li::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #C07F00; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
              }   
        }
    }
}
